<h1>New Post</h1>
<form action="/" method="post">
  <p>
    <label>Title</title>
    <input type="text" name="title" size="40" />
  </p>
  <p>
    <label>Body</label>
    <textarea name="body" rows="20" cols="60"></textarea>
  </p>
  <input type="submit" value="Save" />
</form>